.rightBox .containerBox{padding:20px; min-height:300px;display:block;overflow:hidden;}
.rightBox .containerBox .timelineBox{ display:block; margin-top:40px; min-height:500px; position:relative;}
.rightBox .containerBox .timelineBox::after{ content:''; width:2px; height:100%; background:#f7545f; overflow:hidden; position:absolute; left:50%; top:45px; z-index:1;}
.rightBox .containerBox .timelineBox .heading{ width:200px; margin:auto;background:#347ab6; border-radius:3px;}
.rightBox .containerBox .timelineBox .heading h2{ font-size:20px; color:#fff; margin:0px; text-align:center; line-height:45px;font-family:'proxima_nova_rgregular';}
.rightBox .containerBox .timelineBox .timeline { display:block; margin-top:55px;}

.rightBox .containerBox .timelineBox .timeline .statusOpen{margin:15px 25px;padding:15px 15px 10px 15px; display:block; background:#f6f6f6; border-radius:3px;position:relative;}

.rightBox .containerBox .timelineBox .timeline .statusOpen::after { content:''; width: 0px;height: 0px;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right: 10px solid #f6f6f6; position:absolute; top:18px; left:-10px;}

.rightBox .containerBox .timelineBox .timeline .statusOpen::before { content:''; width:25px; height:25px; border:5px solid #fff; border-radius:50%; background:#f7545f; z-index:9; position:absolute; top:15px; left:-51px; box-shadow:none;}

.rightBox .containerBox .timelineBox .timeline .statusOpen p{font-size:18px; color:#333333; text-align:left; padding:0px; margin:0px;}
.rightBox .containerBox .timelineBox .timeline .statusOpen p.name{ text-align:right; font-size:14px; color:#333333; text-transform:uppercase; font-family:'proxima_nova_ltsemibold';}
.rightBox .containerBox .timelineBox .timeline .statusOpen span{font-size:12px; color:#7e7e7e; display:block; text-align:right; font-family:'proxima_nova_ltsemibold';}
.rightBox .containerBox .timelineBox .timeline .statusOpen p.complaint{ padding:10px 0px; line-height:22px; font-size:14px; color:#7e7e7e; text-align:justify; font-family:'proxima_nova_rgregular'; overflow: hidden;word-wrap: break-word;}
.rightBox .containerBox .timelineBox .timeline .statusOpen .attatchFile { display:block; min-height:42px; padding:10px 15px; margin-bottom:-20px; background:#f7545f; }
.rightBox .containerBox .timelineBox .timeline .statusOpen .attatchFile .btn { color:#f7545f;}
.rightBox .containerBox .timelineBox .timeline .statusOpen .attatchFile a.btn { float:right; background:#fff; border-radius:3px; padding:5px 15px; color:#f7545f;}
.rightBox .containerBox .timelineBox .timeline .statusOpen .attatchFile a.btn:hover { background:#e6e6e6;}

.rightBox .containerBox .timelineBox .timeline .statusClose{ margin:15px 25px; padding:15px 15px 10px 15px; display:block; background:#f6f6f6; border-radius:3px; position:relative;}
.rightBox .containerBox .timelineBox .timeline .statusClose::after { content:''; width: 0px;height: 0px;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #f6f6f6; position:absolute; top:18px; right:-10px;}

.rightBox .containerBox .timelineBox .timeline .statusClose::before { content:''; width:25px; height:25px; border:5px solid #fff; border-radius:50%; background:#0794d6; z-index:9999; position:absolute; top:15px; right:-53px; box-shadow:none;}

 
.rightBox .containerBox .timelineBox .timeline .statusClose p{font-size:18px; color:#333333; text-align:left; padding:0px; margin:0px;}
.rightBox .containerBox .timelineBox .timeline .statusClose p.name{ text-align:right; font-size:14px; color:#333333; text-transform:uppercase; font-family:'proxima_nova_ltsemibold';}
.rightBox .containerBox .timelineBox .timeline .statusClose span{font-size:12px; color:#7e7e7e; display:block; text-align:right; font-family:'proxima_nova_ltsemibold';}
.rightBox .containerBox .timelineBox .timeline .statusClose p.complaint{ padding:10px 0px; line-height:22px; font-size:14px; color:#7e7e7e; text-align:justify; font-family:'proxima_nova_rgregular';overflow:hidden;}
.rightBox .containerBox .timelineBox .timeline .statusClose .attatchFile { display:block; min-height:42px; padding:10px 15px; margin-bottom:-20px; background:#0794d6; }
.rightBox .containerBox .timelineBox .timeline .statusClose .attatchFile .btn { color:#0794d6;}
.rightBox .containerBox .timelineBox .timeline .statusClose .attatchFile a.btn { float:right; background:#fff; border-radius:3px; padding:5px 15px; color:#0794d6;}
.rightBox .containerBox .timelineBox .timeline .statusClose .attatchFile a.btn:hover { background:#e6e6e6;}




	